$g-min-width: 1000px;

$g-header-size: 70px;
$g-without-header-size: calc(100% - 70px);

// for header user info
$g-header-user-info-width: 350px;
$g-header-user-info-image-top: 14px;
$g-header-user-info-image-left: 20px;
$g-header-user-info-image-size: 50px;
$g-header-user-info-nick-left: 90px;
$g-header-user-info-nick-width: 260px;
$g-header-user-info-more-top: 34px;
$g-header-user-info-more-right: 20px;
$g-header-user-info-more-width: 19px;
$g-header-user-info-more-height: 12px;

$g-logo-top: 14px;
$g-logo-left: 48px;
$g-logo-width: 62px;
$g-logo-height: 51px;

$g-logout-top: 29px;
$g-logout-width: 20px;
$g-logout-height: 21px;

$g-menu-size: 200px;
$g-without-menu-size: calc(100% - 200px);
$g-menu-height: 50px;
$g-navigation-left: 30px;

$g-input-wrap-padding-top: 24px;

$g-input-height: 42px;
$g-div-height: 40px;
$g-input-image-size: 170px;
$g-input-left-padding: 20px;
$g-textarea-top-padding: 10px;
$g-without-input-left-padding: calc(100% - 20px);

$g-button-wrap-padding: 20px;

$g-submit-input-width: 400px;
$g-submit-input-height: 42px;
$g-without-submit-button-width: calc(100% - 72px);
$g-submit-button-width: 72px;
$g-search-input-width: 340px;
$g-search-button-size: 21px;
$g-more-button-width: 100px;

$g-select-width: 100px;

$g-alert-message-size: 18px;

$g-icon-button-size: 28px;

// for all
$g-contents-padding: 20px;
$g-input-info-height: 100px;

// for meta
$g-meta-content-margin-left: calc(50% - 350px);
$g-meta-content-width: 700px;

// for corporation, service
$g-item-logo-size: 70px;
$g-color-logo-border: #bec3cc;

$g-color-black: #081332;
$g-color-gray: #bec3cc;
$g-color-yellow: #fad002;
$g-color-green: #43bf67;
$g-color-purple: #7266ba;
$g-color-purple-hover: #6458a8;
$g-color-blue: #16aad8;
$g-color-blue-hover: #1e96bb;
$g-color-white: #f7f9f8;
$g-color-red: #ff3057;
$g-color-red-hover: #e22549;
$g-color-dark-red: #f54545;
$g-color-dark-red-hover: #d34040;
$g-color-line: #d2d5dc;

$g-color-header-user-info: #fbfbfb;

$g-color-background-gray-lite: #f8f8f9;
$g-color-background-gray: #f1f3f8;;

$g-color-item-visibility-hidden: #e1e1e3;

//$g-color-navigation: #1d2b36;
//$g-color-navigation-hover: #132029;
$g-color-navigation: #555a77;
$g-color-navigation-hover: #464b69;
$g-color-navigation-text: #e4e7f5;
$g-color-navigation-text-hover: #fff;

$g-color-icon-button-background-hover: #ededed;
$g-color-icon-button-border: #dcdcdc;

// for modal page
$g-modal-header-size: 54px;
$g-modal-padding-left: 48px;

//dowado
$dowado-color: #51c7b5;;
$dowado-hover-color: #45a19f;
$dowado-red-color: #ed5565;
$dowado-red-hover-color: #BA2232;
$dowado-grey-color: #edf3f5;
$dowado-font-grey-color: #6f8690;
$dowado-font-grey-hover-color: #3C535D;
$dowado-border-color: #d7dbdd;
$g-input-wrap-padding-top: 15px;
$semi-black: #464646;

$soft-blue: #6d8fe4;
$soft-blue-hover: #5b7ed6;

$pale-grey: #ebeef7;
$pale-grey-hover: #bfc3cf;

$web-container-size: 1200px;
$web-min-width: 426px;

$divider: #d5dbec;

$sg-container-radius: 5px;


// for modal page
$g-modal-header-size: 46px;
$g-modal-padding-left: 48px;

// for button
$g-color-button-disabled: #dfdfdf;
$greeny-blue-two: #51c7b5;
$greeny-blue-two-hover: #41b1a0;


// for input
$g-color-input-border: #ddd;
$g-color-input-focus: #b8afee;

$g-content-height: 34px;


