<div data-ng-controller="LoadingHandlerCtrl">
    <div class="sg-core-loading-container" data-ng-if="vm.coreLoading.spinner">
        <div class="sg-core-spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <!--<div class="sg-core-loading-transparent-container">-->
        <!--<div class="sg-core-progress">-->
            <!--<div class="sg-core-progress-title">-->
                <!--전송 중입니다.-->
            <!--</div>-->
            <!--<div class="sg-core-progress-body">-->
                <!--12%-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>