.idea
db-parsing/node_modules
db-parsing/blacklist.txt
coin-trade/.gradle
coin-trade/build
coin-trade/.project
coin-trade/.classpath
coin-trade/.settings
coin-trade/.springBeans
coin-trade/target
coin-trade/bin
coin-trade/*/out
coin-trade/.idea
coin-trade/.DS_Store
coin-trade/rebel.xml
coin-trade/*.iml
coin-trade/*.apr
coin-trade/*.iws