#sg-create-blog-account-wrap {
  div.sg-g-modal-header {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    p {
      margin-left: 36px;
    }
  }
  div.sg-g-modal-content {
    padding: 0 36px;
  }
  div.sg-g-button-wrap {
    padding: 20px 36px;
    text-align: right;
  }
}