#sg-detail-req-application-wrap {
  div.sg-g-modal-header {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    p {
      margin-left: 36px;
    }
  }
  div.sg-g-modal-content {
    padding: 20px 36px 20px 36px;
    background-color: #f4f6fa;
    div.sg-g-input-wrap {
      margin-bottom: 10px;
      padding: 15px;
      background-color: white;
      label.sg-g-label {
        color: #464b69;
      }
      textarea.sgc-input {
        resize: none;
      }
      p.sg-g-text {
        border-bottom: 1px solid #d5dbec;
        padding-left: 0;
        color: #464b69;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  div.sg-g-button-wrap {
    padding: 20px 36px;
    @include after-clear();
    button {
      float: right;
    }
  }
}