.sg-option {
    width: 109px;
    height: 42px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #d5dbec;
    padding-left: 8px;

    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 32px;

    cursor: pointer;

    background-image: url('/pages/admin/assets/images/ic_arrow_down_border_14_11_2x.png');
    background-repeat: no-repeat;
    background-size: 14px 11px;
    background-position: right 8px center;
}