#sg-blog-manage-wrap {
  width: 100%;
  .sgc-container{
    max-width: 100%;
    div.sgc-titles {
      position: relative;
      span {
        font-size: 18px;
        color: #666;
      }
    }
    div.sg-blog-sending {
      position: absolute;
      top: 50px;
      right: 12px;
      @include after-clear();
      div {
        margin-top: 6.5px;
        margin-right: 8px;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background-color: #2e314d;
        float: left;
        &.sg-sending {
          background-color: #e34a59;
        }
      }
      p {
        position: relative;
        font-size: 18px;
        height: 25px;
        float: left;
        &.sg-sending {
          color: #e34a59;
        }
        &.sg-not-sending {
          color: #2e314d;
        }
      }
    }
    div.sg-instance-wrap {
      position: fixed;
      bottom: 16px;
      right: 16px;
      padding: 12px;
      width: auto;
      z-index: 1;
      opacity: .5;
      background-color: white;
      pointer-events: none;
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.3);
      ul {
        li {

        }
      }
    }
  }

}

div.sg-blog-manage-search-wrap {
  border-top: 1px solid #d5dbec;
  padding-top: 15px;
  padding-bottom: 15px;
  @include after-clear();

  div.sg-g-search-wrap {

    width: calc(100% - 267px);
    display: inline-block;
    @include after-clear();

    select.sgc-option {
      margin-right: 6px;
      float: left;
    }

    form{
      float: left;
      width: calc( 100% - 115px );
    }
  }
  .sg-btn-wrapper{
    display: inline-block;
    float: right;
    @include after-clear();
    button.sgc-btn-action {
      float: left;
      margin-left: 6px;
      width: 120px;
      height: 42px;
    }
    button.sgc-btn-more {
      float: left;
      margin-left: 6px;
      width: 120px;
      height: 42px;
      background-color: #555a77;
      border-color: #555a77;
      &:hover {
        background-color: #464b69;
        border-color: #464b69;
      }
    }
  }
}

div.sg-blog-manage-select-wrap {
  position: relative;
  padding-top: 15px;
  padding-bottom: 20px;
  border-top: 1px solid #d5dbec;
  text-align: right;
  div.sg-left {
    font-size: 0;
  }
  select.sgc-option {
    margin-left: 6px;
    font-size: 14px;
    &:first-child {
      margin-left: 0;
    }
  }
}

div.sg-blog-manage-item-wrap {
  position: relative;
  div.sg-list-header {
    padding-bottom: 15px;
    font-size: 0;
    @include after-clear();


    h6.sg-header {
      display: inline-block;
      margin: 0;
      font-size: 12px;
      font-weight: 400;
      color: #8d93a6;
      width: 10%;
      text-align: center;
    }

    .sg-list-header-title-wrapper{
      display: inline-block;
      width: 79%;
      float: left;
      .sg-header {

        &:nth-of-type(1) {
          width: 12%;
        }
        &:nth-of-type(3) {
          width: 20%;
        }
        &:nth-of-type(4),
        &:nth-of-type(5),
        &:nth-of-type(6) {
          width: 9%;
        }
        &:nth-of-type(7),
        &:nth-of-type(8),
        &:nth-of-type(9) {
          width: 10%;
        }
      }
    }

    .sg-list-header-btn-wrapper{
      display: inline-block;
      width: 21%;
      float: right;
      .sg-header{
        width: 30%;
      }
    }



  }
  div.sg-list-content {
    ul {
      width: 100%;
      position: relative;
      &.sg-list-normal{
        display: inline-block;
      }
      &.sg-list-responsive{
        display: none;
      }
      li {
        position: relative;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid white;
        height: 50px;
        background-color: white;
        cursor: pointer;
        @include after-clear();
        -webkit-transition: border-color .1s;
        -moz-transition: border-color .1s;
        -ms-transition: border-color .1s;
        -o-transition: border-color .1s;
        transition: border-color .1s;
        &.sg-selected,
        &:hover {
          border-color: #6d8fe4;
        }
        &:last-child {
          margin-bottom: 0;
        }
        .sg-item-wrapper{
          width: 79%;
          display: inline-block;
          float: left;
          h6.sg-header{
            display: none;
          }
          div.sg-item {
            position: relative;
            width: 10%;
            height: 100%;
            line-height: 48px;
            text-align: center;
            color: #8d93a6;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;

            &:nth-of-type(1) {
              width: 12%;
            }
            &:nth-of-type(3) {
              width: 20%;
            }
            &:nth-of-type(4),
            &:nth-of-type(5),
            &:nth-of-type(6) {
              width: 9%;
            }
            &:nth-of-type(7),
            &:nth-of-type(8),
            &:nth-of-type(9) {
              width: 10%;
            }
          }

        }
        .sg-item-btn-wrapper{
          display: inline-block;
          width: 21%;
          float: right;

          button.sg-blog {
            float: left;
            margin: 5px;
            width: 27%;
            height: 36px;
            line-height: initial;
            &.sg-naver {
              background-color: #1ec545;
              border-color: #1ec545;
              &:hover {
                background-color: #1ebb43;
                border-color: #1ebb43;
              }
            }
            &.sg-not-allow {
              cursor: not-allowed;
              border: 1px solid #8d93a6 !important;
              background-color: #8d93a6 !important;
            }
          }
        }

      }
    }
  }
  div.sg-more-wrapper {
    margin-top: 30px;
    text-align: center;
  }
}