#sg-engineer-phone-num-manage-wrap {

}

div.sg-engineer-phone-num-manage-search-wrap {
  border-top: 1px solid #d5dbec;
  padding-top: 15px;
  padding-bottom: 15px;
  @include after-clear();
}

div.sg-engineer-phone-num-manage-select-wrap {
  position: relative;
  padding-top: 15px;
  padding-bottom: 20px;
  border-top: 1px solid #d5dbec;
  text-align: right;
  div.sg-left {
    font-size: 0;
  }
  select.sgc-option {
    margin-left: 6px;
    font-size: 14px;
    &:first-child {
      margin-left: 0;
    }
  }
}

div.sg-engineer-phone-num-manage-item-wrap {
  position: relative;
  div.sg-list-header {
    padding-bottom: 15px;
    font-size: 0;
    @include after-clear();
    h6.sg-header {
      display: inline-block;
      margin: 0;
      font-size: 12px;
      font-weight: 400;
      color: #8d93a6;
      width: 15%;
      text-align: center;
      &:nth-of-type(3) {
        width: 10%;
      }
      &:nth-of-type(4) {
        width: 10%;
      }
      &:nth-of-type(5) {
        width: 50%;
      }
    }
  }
  div.sg-list-content {
    ul {
      position: relative;
      li {
        position: relative;
        margin-bottom: 10px;
        border-radius: 5px;
        height: 50px;
        background-color: white;
        @include after-clear();
        &:last-child {
          margin-bottom: 0;
        }
        div.sg-item {
          position: relative;
          width: 15%;
          height: 100%;
          line-height: 50px;
          text-align: center;
          color: #8d93a6;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          float: left;
          &:nth-of-type(3) {
            width: 10%;
          }
          &:nth-of-type(4) {
            width: 10%;
          }
          &:nth-of-type(5) {
            width: 50%;
          }
        }
      }
    }
  }
  div.sg-more-wrapper {
    margin-top: 30px;
    text-align: center;
  }
}