#sg-point-history-wrap {

}

div.sg-point-history-manage-search-wrap {
  border-top: 1px solid #d5dbec;
  padding-top: 15px;
  padding-bottom: 15px;
  @include after-clear();
  select.sgc-option {
    margin-right: 6px;
    float: left;
  }
  div.sg-g-search-wrap {
    margin-right: 6px;
    width: calc(100% - 241px);
    float: left;
  }
  button.sgc-btn-action {
    float: left;
    height: 42px;
    line-height: 42px;
  }
}

div.sg-point-history-manage-select-wrap {
  position: relative;
  padding-top: 15px;
  padding-bottom: 20px;
  border-top: 1px solid #d5dbec;
  text-align: right;
  div.sg-left {
    font-size: 0;
  }
  select.sgc-option {
    margin-left: 6px;
    font-size: 14px;
    &:first-child {
      margin-left: 0;
    }
  }
}

div.sg-point-history-manage-item-wrap {
  position: relative;
  div.sg-list-header {
    padding-bottom: 15px;
    font-size: 0;
    @include after-clear();
    h6.sg-header {
      display: inline-block;
      margin: 0;
      font-size: 12px;
      font-weight: 400;
      color: #8d93a6;
      width: 10%;
      text-align: center;
      &:nth-of-type(3) {
        width: 5%;
      }
      &:nth-of-type(9),
      &:nth-of-type(10) {
        width: 12.5%;
      }
    }
  }
  div.sg-list-content {
    ul {
      position: relative;
      li {
        position: relative;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid white;
        height: 50px;
        background-color: white;
        cursor: pointer;
        @include after-clear();
        -webkit-transition: border-color .1s;
        -moz-transition: border-color .1s;
        -ms-transition: border-color .1s;
        -o-transition: border-color .1s;
        transition: border-color .1s;
        &.sg-charge {
          border-color: #e34a59;
        }
        &:hover {
          border-color: #6d8fe4;
        }
        &:last-child {
          margin-bottom: 0;
        }
        div.sg-item {
          position: relative;
          width: 10%;
          height: 100%;
          line-height: 48px;
          text-align: center;
          color: #8d93a6;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          float: left;
          &:nth-of-type(3) {
            width: 5%;
          }
          &:nth-of-type(9),
          &:nth-of-type(10) {
            width: 12.5%;
          }
          &.sg-name {
            overflow: visible;
          }
          &:hover {
            span.sg-black {
              visibility: visible;
              opacity: 1;
            }
          }
          span.sg-name {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          span.sg-black {
            position: absolute;
            top: 100%;
            left: 0;
            border-radius: 5px;
            padding-left: 10px;
            width: 200px;
            height: 30px;
            line-height: 30px;
            text-align: left;
            background-color: black;
            color: white;
            visibility: hidden;
            opacity: 0;
            z-index: 1;
            -webkit-transition: opacity .1s;
            -moz-transition: opacity .1s;
            -ms-transition: opacity .1s;
            -o-transition: opacity .1s;
            transition: opacity .1s;
            pointer-events: none;
          }
        }
      }
    }
  }
  div.sg-more-wrapper {
    margin-top: 30px;
    text-align: center;
  }
}