#sg-req-estimation-manage-wrap {
  button.sg-req-estimation-stats-button {
    position: absolute;
    top: 45px;
    right: 12px;
  }
}

div.sg-req-estimation-manage-search-wrap {
  border-top: 1px solid #d5dbec;
  padding-top: 15px;
  padding-bottom: 15px;
  @include after-clear();
  select.sgc-option {
    margin-right: 6px;
    width: 150px;
    float: left;
  }
  div.sg-g-search-wrap {
    width: calc(100% - 156px);
    float: left;
  }
}

div.sg-req-estimation-manage-select-wrap {
  position: relative;
  padding-top: 15px;
  padding-bottom: 20px;
  border-top: 1px solid #d5dbec;
  text-align: right;
  div.sg-left {
    font-size: 0;
  }
  select.sgc-option {
    margin-left: 6px;
    width: 120px;
    font-size: 14px;
    &:first-child {
      margin-left: 0;
    }
    &.sg-big {
      width: 150px;
    }
  }
}

div.sg-req-estimation-manage-item-wrap {
  position: relative;
  div.sg-list-header {
    padding-bottom: 15px;
    font-size: 0;
    @include after-clear();
    h6.sg-header {
      display: inline-block;
      margin: 0;
      width: 10%;
      font-size: 12px;
      font-weight: 400;
      color: #8d93a6;
      text-align: center;
      &:nth-of-type(8),
      &:nth-of-type(2) {
        width: 8%;
      }
      &:nth-of-type(10) {
        width: 14%;
      }
    }
  }
  div.sg-list-content {
    ul {
      position: relative;
      li {
        position: relative;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid white;
        height: 50px;
        background-color: white;
        cursor: pointer;
        @include after-clear();
        -webkit-transition: border-color .1s;
        -moz-transition: border-color .1s;
        -ms-transition: border-color .1s;
        -o-transition: border-color .1s;
        transition: border-color .1s;
        &:hover {
          border-color: #6d8fe4;
        }
        &:last-child {
          margin-bottom: 0;
        }
        div.sg-item {
          position: relative;
          width: 10%;
          height: 100%;
          line-height: 48px;
          text-align: center;
          color: #8d93a6;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          float: left;
          &:nth-of-type(8),
          &:nth-of-type(2) {
            width: 8%;
          }
          &:nth-of-type(10) {
            width: 14%;
          }
          span {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            margin-top: -13.5px;
            margin-left: -35px;
            border-radius: 3px;
            width: 70px;
            height: 27px;
            line-height: 27px;
            color: white;
            &.sg-call {
              background-color: #41b1a0;
            }
            &.sg-premium {
              background-color: #e34959;
            }
            &.sg-contract {
              background-color: #6d8fe4;
            }
          }
        }
      }
    }
  }
  div.sg-more-wrapper {
    margin-top: 30px;
    text-align: center;
  }
}