#sg-req-estimation-create-wrap {
  form.sg-user-phone-num-wrap {
    position: absolute;
    top: 45px;
    right: 272px;
    width: 200px;
    input.sg-user-phone-num {
      border: solid 1px #d5dbec;
      height: 40px;
      background-color: white;
      &.sg-sync {
        border-color: #51c7b5;
        background-color: #dffffa;
        cursor: pointer;
      }
    }
  }
  button.sg-sync-button {
    position: absolute;
    top: 45px;
    right: 142px;
  }
  button.sg-refresh-button {
    position: absolute;
    top: 45px;
    right: 12px;
  }
}

div.sg-req-estimation-create-manage-wrap {
  border-top: 1px solid #d5dbec;
  padding-top: 15px;
  padding-bottom: 15px;
  div.sg-g-input-wrap {
    margin-bottom: 10px;
    padding: 15px;
    min-height: 104px;
    background-color: white;
    &.sg-four {
      margin-right: 10px;
      width: calc(25% - 10px);
    }
    &.sg-two {
      margin-right: 10px;
      width: calc(50% - 10px);
    }
    &.sg-one {
      width: calc(100% - 10px);
    }
  }
  div.sg-margin-right {
    margin-right: -10px;
    @include after-clear();
  }
  label.sg-g-label {
    color: #464b69;
  }
  textarea.sgc-input {
    resize: none;
  }
  input.sgc-input {
    width: 100%;
    max-width: 255px;
    height: 42px;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #aaa;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #aaa;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: #aaa;
    }
  }
  select.sgc-option {
    width: 100%;
    max-width: 255px;
  }
  span.sg-essential {
    top: 0;
    left: 0;
    font-family: monospace;
    color: #e34959;
    font-size: 12px;
  }
  label.sg-checkbox {
    margin-right: 5px;
    height: 42px;
    line-height: 42px;
  }
  datepicker {
    ._720kb-datepicker-calendar {
      margin-top: 0;
    }
    input.sgc-input {
      cursor: pointer;
    }
  }
}

div.sg-req-estimation-create-check-wrap {
  margin-top: -10px;
  border-top: 1px solid #d5dbec;
  padding-top: 15px;
  padding-bottom: 15px;
  div.sg-g-input-wrap {
    padding: 15px;
    background: white;
    label.sg-g-label {
      color: #464b69;
    }
    button.sgc-btn-more,
    button.sgc-btn-delete,
    button.sgc-btn-action {
      border-radius: 0;
      width: 100%;
      height: 50px;
      line-height: 50px;
      font-size: 18px;
    }
  }
}