<div class="sg-g-input-wrap sg-four">
    <label class="sg-g-label">추가 옵션</label>
    <label for="isNeedSafetyHanger" class="sg-checkbox">
        <input id="isNeedSafetyHanger" type="checkbox" data-ng-model="form.isNeedSafetyHanger">
        안전걸이
    </label>
    <label for="isNeedMilkHole" class="sg-checkbox">
        <input id="isNeedMilkHole" type="checkbox" data-ng-model="form.isNeedMilkHole">
        우유투입구
    </label>
    <label for="isNeedDoorStopper" class="sg-checkbox">
        <input id="isNeedDoorStopper" type="checkbox" data-ng-model="form.isNeedDoorStopper">
        도어스토퍼
    </label>
    <label for="isNeedDoorCloser" class="sg-checkbox">
        <input id="isNeedDoorCloser" type="checkbox" data-ng-model="form.isNeedDoorCloser">
        도어클로져
    </label>
</div>