<div class="sg-g-input-wrap sg-four">
    <label class="sg-g-label">잠금유형</label>
    <label class="sg-checkbox" for="isNeedLockTypeOtp">
        <input id="isNeedLockTypeOtp" type="checkbox" data-ng-model="form.isNeedLockTypeOtp">
        OTP
    </label>
    <label class="sg-checkbox" for="isNeedLockTypePassword">
        <input id="isNeedLockTypePassword" type="checkbox" data-ng-model="form.isNeedLockTypePassword">
        비밀번호
    </label>
    <label class="sg-checkbox" for="isNeedLockTypeFingerVoice">
        <input id="isNeedLockTypeFingerVoice" type="checkbox" data-ng-model="form.isNeedLockTypeFingerVoice">
        지문
    </label>
    <label class="sg-checkbox" for="isNeedLockTypeCard">
        <input id="isNeedLockTypeCard" type="checkbox" data-ng-model="form.isNeedLockTypeCard">
        카드
    </label>
</div>