.sg-core-spinner {
    position: absolute;
    top: calc( 50% - 12px);
    left: calc( 50% - 30px);
    text-align: center;
}

.sg-core-spinner > div {
    width: 18px;
    height: 18px;
    background-color: white;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bounce-delay 1.4s infinite ease-in-out both;
    animation: bounce-delay 1.4s infinite ease-in-out both;
}

.sg-core-spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.sg-core-spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.sg-core-spinner-small {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    div {
        width: 8px;
        height: 8px;
        background-color: white;

        border-radius: 100%;
        display: inline-block;
        -webkit-animation: bounce-delay 1.4s infinite ease-in-out both;
        animation: bounce-delay 1.4s infinite ease-in-out both;
    }

    .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
}

@-webkit-keyframes bounce-delay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bounce-delay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}