@mixin hoverSlideTopAndBoxShadow {
    &:hover {
        -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
        -webkit-transform: translate(0, -2px);
        transform: translate(0, -2px);
    }
}