<script type="text/ng-template" id="myCreatePointHistory.html">
    <div id="sg-create-point-history-wrap">
        <button type="button" class="sg-g-modal-exit" data-ng-click="cancel()">
            <i></i>
            <i></i>
        </button>
        <div class="sg-g-modal-header">
            <p>{{ 'pointCharge' | translate }}</p>
        </div>
        <div class="sg-g-modal-content">
            <div class="sg-g-input-wrap sg-half">
                <label class="sg-g-label">{{ 'pointHistoryType' | translate }}</label>
                <select class="sgc-option" data-ng-model="form.type">
                    <option data-ng-repeat="item in enumTypes" value="{{ item }}">
                        {{ item | translate }}
                    </option>
                </select>
            </div>
            <div class="sg-g-input-wrap sg-half sg-last">
                <label class="sg-g-label">{{ 'engineerId' | translate }}</label>
                <input type="text" class="sgc-input" data-ng-model="form.userId" placeholder="{{ 'engineerId' | translate }}">
            </div>
            <div class="sg-g-input-wrap sg-half">
                <label class="sg-g-label">{{ 'sgCash' | translate }}</label>
                <input type="number" class="sgc-input" data-ng-model="form.sgCash" placeholder="{{ 'sgCash' | translate }}">
            </div>
            <div class="sg-g-input-wrap sg-half sg-last">
                <label class="sg-g-label">{{ 'sgDeposit' | translate }}</label>
                <input type="number" class="sgc-input" data-ng-model="form.sgDeposit" placeholder="{{ 'sgDeposit' | translate }}">
            </div>
        </div>
        <div class="sg-g-button-wrap">
            <button type="button" class="sgc-btn-action" data-ng-click="createPointHistory()">
                {{ 'pointCharge' | translate }}
            </button>
            <button type="button" class="sgc-btn-cancel" data-ng-click="cancel()">
                {{ 'close' | translate }}
            </button>
        </div>
    </div>
</script>