<div class="sg-notification-manage-create-csv">
    <div class="sg-notification-manage-create-title">
        {{'selectCsv'| translate}}
    </div>

    <div ng-show="csvUploader.isHTML5">
        <!-- 3. nv-file-over uploader="link" over-class="className" -->
        <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
        <div nv-file-drop="" uploader="csvUploader" options="">
            <div nv-file-over="" uploader="csvUploader" over-class="sg-dropdown-mouse-over"
                 class="sg-dropdown">
                <div class="sg-dropdown-text">파일를 끌어다 놓으세요.</div>
                <div class="sg-dropdown-text2">csv파일을 올려주세요.</div>
                <div class="sg-post-make-body-images-upload-box">
                    <button class="sg-post-make-body-images-upload-box-btn action-btn"
                            data-ng-click="clickUploadFile()">
                        파일 가져오기
                    </button>
                    <input id="uploadFile" type="file" nv-file-select="" uploader="csvUploader"
                           ng-show="false" multiple/>
                </div>
            </div>
        </div>
    </div>

    <div class="sg-notification-manage-create-csv-upload">
        <div class="sg-notification-manage-create-csv-upload-item" data-ng-repeat="csvFile in csvFiles">
            <img class="sg-notification-manage-create-csv-upload-item-icon" src="/assets/themes/admin/cloudy/images/ic_noti_csv_complete_file_32_37_2x.png" width="32" height="37"/>
            <div class="sg-notification-manage-create-csv-upload-item-text">{{csvFile.name}}</div>
            <img class="sg-notification-manage-create-csv-upload-item-delete" src="/assets/themes/admin/cloudy/images/ic_noti_csv_complete_cancel_32_2x.png" width="32" height="32" data-ng-click="deleteCsvItem($index)"/>
        </div>
    </div>

</div>