.sgc-subtitles {
    //font-size: 18px;
    //font-weight: 400;
    //color: #464646;

    font-size: 14px;
    font-weight: 400;
    color: #8d93a6;

    &.sg-default {
        color: #8d93a6;
    }
}